<html>
    <head>
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
        <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Dosis|Poppins" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">

    <style>
        #navbar{
            width: 100%;
            height: 30%;
            background: #fce6eb;
            
        }
        .hall {
            text-decoration: none;
            padding-top: 150px;
        }
        .hihi {
            font: arial;
            float: center;
            background-color: #fce6eb;
            font-family: 'Dosis';
            font-style: bold;
        }
        .bye {
            font: arial;
            background-color: #fce6eb;
            float: center;
            font-family: 'Poppins';
        }
        .w3-button {
            background-color: #fce6eb;
        }
        .album {
            text-align: center;
            padding-top: 15px;
        }
        .userimage{
            width: 350px;
            height: 350px;
            padding: 7px;
            margin: 10px 5px;
            border-style: solid;
            border-color: #fec8d4;
            border-radius: 10%;
            border-width: thin;
        }
        .press {
            border-style: solid;
            border-color: black;
            border-width: thin;
            padding: 10px;
            font-family: 'Indie Flower', cursive;
            font-size: 20px;
            color: #ff7292;
        }
    </style>
    </head>
<body>
        
    
    
     <center>
        <div id="navbar">
            <div class="hihi">
            <a href="/home/main" class="w3-bar-item w3-button w3-#fce6eb"><font size="7" color="FF7292"><b>Between</b></font></a>
            </div>
            <div class="bye">
            <a href="/home/best" class="w3-bar-item w3-button w3-#fce6eb"><font size="6">Best</font></a>
            <a href="/home/out_of_league" class="w3-bar-item w3-button w3-#fce6eb"><font size="6">Out of League</font></a>
            <a href="/home/upload" class="w3-bar-item w3-button w3-#fce6eb"><font size="6">Story</font></a>
            <a href="/home/board" class="w3-bar-item w3-button w3-#fce6eb"><font size="6">Diary</font></a>
            </div>
        </div>
     </center>
    
    </body>
    
    <div class = "album">
        <img src="/images/donald-trump-melania.jpg" class = "userimage" style="width: 350px;height: 350px;">
        <img src="/images/jay-z-and-beyonce.jpg" class = "userimage" style="width: 350px;height: 350px;">
        <img src="/images/alg-baena-schwa.jpg" class = "userimage" style="width: 350px;height: 350px;">
        <img src="/images/miranda.jpg" class = "userimage" style="width: 350px;height: 350px;">
        <img src="/images/obama.jpg" class = "userimage" style="width: 350px;height: 350px;">
        <% @users.each do |us| %>
        <a href="/post/postings/ <%= us.id %>"><img src="<%=us.avatar.url%>" class='userimage' ></a><br>
        <%end%>
    </div>



    <center style="margin-top:20px;"><a href="/home/write" class='press'> Show Us How You Love </a> </center>
</html>
