<head>
    <style type="text/css">
        .title-box {
            padding: 10px 15px 10px 15px;
        }


    </style>
</head>
<body>
<div class='writing-form'>

    
    <form action="/upload_image" method="POST" enctype="multipart/form-data">
        <div class="write title">
            <p> Title </p>
            <%= text_field_tag :my_title %>
        </div>
        <div class="note editing-area">
            <p> Tell us about your relationship </p>
            <%= text_area_tag :my_text %>
        </div>
        <input type="file" name="my_image"><br>
        <input type="submit">

    </form>
    
    
</div>


</body>